body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1, h3,h4{
    color: white;
    text-align: center;
    margin:20px 0;

}

#wrapper{
    height:auto;
    min-height: 92vh;

    width:90%;
    margin:0 5%;
}
p{
    color: white;
    text-align: center;
}

textarea{
    height:100px;
    width:50%;
    font-size: 25px;
    background-color: transparent;
    color:white;
    border:none;
    border: 2px solid white;
    outline:none;
    margin: 10px 25%;
}
textarea:focus{
    outline: none;
    border: 2px solid #0067bb;
}
.link{
    text-decoration: white underline;
    text-align: center;
    color: white;
    display: block;
    width: 20%;
    margin: 0 40%;
}

.link:hover{
    text-decoration: #0067bb underline;


}
.btn{
    width:150px;
    height:50px;
    background-color: transparent;
    border:2px solid white;
    color:white;
    font-size: 25px;
    margin-left:25%;
}
.btn:hover{
    cursor: pointer;
    border:2px solid #0067bb;
}

#responsedivreview{
    display: none;
    background-color: green;
    width:50%;
    height:50px;
    
    padding-top:15px;

    margin-left:25%; 
    margin-top:20px;   
}
#confirmtxt{
    text-emphasis: bold;
    display: flex;
    justify-content: center;
}

